JAVAESBService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:esb="http://services.esb.com/commServices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="commWSDL" targetNamespace="http://services.esb.com/commServices/">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://services.esb.com/commServices/" targetNamespace="http://services.esb.com/commServices/" elementFormDefault="unqualified">
      <xsd:element name="esbInterfaceService" type="esb:esbInterfaceService"/>
      <xsd:element name="esbInterfaceServiceRes" type="esb:esbInterfaceServiceRes"/>
      <xsd:complexType name="esbInterfaceService">
        <xsd:sequence>
          <xsd:element name="esbHeader" type="xsd:string" minOccurs="1"/>
          <xsd:element name="payload" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="esbInterfaceServiceRes">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="esbInterfaceServiceRequest">
    <wsdl:part name="parameters" element="esb:esbInterfaceService"/>
  </wsdl:message>
  <wsdl:message name="esbInterfaceServiceResponse">
    <wsdl:part name="parameters" element="esb:esbInterfaceServiceRes"/>
  </wsdl:message>
  <wsdl:portType name="ESBInterfaceServicePortType">
    <wsdl:operation name="esbInterfaceService">
      <wsdl:input message="esb:esbInterfaceServiceRequest"/>
      <wsdl:output message="esb:esbInterfaceServiceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESBInterfaceServiceSoapBinding" type="esb:ESBInterfaceServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="esbInterfaceService">
      <soap:operation soapAction="http://services.esb.com/commServices/esb/InterfaceService"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESBInterfaceServiceService">
    <wsdl:port name="ESBInterfaceServicesPort" binding="esb:ESBInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
